{% extends 'base.html' %}
{% block xpto %}

<form action="{% url "pessoa.index" %}" method="post">{% csrf_token %}	
	<div>
		<label for="nome">Nome:</label>
		<input type="text" name="nome" id="nome" />
	</div>
	<div>
		<label for="sobrenome">Sobrenome:</label>
		<input type="text" name="sobrenome" id="sobrenome" />
	</div>
	<div>
		<label for="idade">Idade:</label>
		<input type="text" name="idade" id="idade" />
	</div>
	<div>
		<label for="depto_atual">Departamento atual</label>
		<input type="text" name="depto_atual" value="2" id="depto_atual" />
	</div>
	<div>
		<label for="hist_deptos">Hist_depts</label>
		<input type="text" name="hist_deptos" value="2" id="hist_deptos" />
	</div>
	<div>
		<label for="depto_chefia">Depto Chefia</label>
		<input type="text" name="depto_chefia" value="2" id="depto_chefia" />
	</div>
	<div>
		<label for="escolaridade">Escolaridade:</label>
		<input type="text" name="escolaridade" value="ES" id="escolaridade" />
	</div>
	<div>
		<input type="submit" value="Gravar">
	</div>
</form>

{% endblock %}