{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% include "layout/head.html" %}
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_horizontal-navbar.html -->
        {% include 'layout/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          
            {% block xpto %}
            {% endblock %}
          </div>

        {% include "layout/footer.html" %}
      </div>
    </div>
  </div>
  <script src="{% static "vendors/base/vendor.bundle.base.js" %}"></script>
  <script src="{% static "js/template.js" %}"></script>
  <script src="{% static "js/jquery.mask.js" %}"></script>
{% comment %}   <script>
      $(document).ready(function () {
        $('input[name=valor]').mask('#.##0,00', {reverse: true});
    })
  </script> {% endcomment %}
</body>
</html>
