    {% load static %}
    <div class="horizontal-menu">
      <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
          <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
            <ul class="navbar-nav navbar-nav-left">
            </ul>
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="{% url 'index' %}">Pyhton: PucMinas</a>
                <a class="navbar-brand brand-logo-mini" href="{% url 'index' %}">Pyhton: PucMinas</a>
            </div>
            <ul class="navbar-nav navbar-nav-right">
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </div>
      </nav>
      <nav class="bottom-navbar">
        <div class="container">
            <ul class="nav page-navigation">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">
                  <i class="mdi mdi-file-document-box menu-icon"></i>
                  <span class="menu-title">Dashboard</span>
                </a>
              </li>
              <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="mdi mdi-codepen menu-icon"></i>
                    <span class="menu-title">RH e DP</span>
                    <i class="menu-arrow"></i>
                  </a>
                  <div class="submenu">
                      <ul class="submenu-item">
                          <li class="nav-item"><a class="nav-link" href="{% url 'pessoa.index' %}">Pessoas</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'departamento.index' %}">Departamentos</a></li>
                      </ul>
                  </div>
              </li>
              <li class="nav-item">
                  <a href="{% url 'operacao-financeira-entrada.index' %}" class="nav-link">
                    <i class="mdi mdi-codepen menu-icon"></i>
                    <span class="menu-title">Lançar Entradas</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'operacao-financeira-saida.index' %}" class="nav-link">
                    <i class="mdi mdi-file-document-box-outline menu-icon"></i>
                    <span class="menu-title">Lançar Saídas</span></a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'operacao-financeira.index' %}" class="nav-link">
                    <i class="mdi mdi-finance menu-icon"></i>
                    <span class="menu-title">Relatório Financeiro</span>
                    <i class="menu-arrow"></i>
                  </a>
              </li>

              <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="mdi mdi-codepen menu-icon"></i>
                    <span class="menu-title">Parametrização</span>
                    <i class="menu-arrow"></i>
                  </a>
                  <div class="submenu">
                      <ul class="submenu-item">
                          <li class="nav-item"><a class="nav-link" href="{% url 'tipo-operacao.index' %}">Tipos Operações</a></li>
                          <li class="nav-item"><a class="nav-link" href="{% url 'classificacao-operacao.index' %}">Classe Operações</a></li>
                      </ul>
                  </div>
              </li>
            </ul>
        </div>
      </nav>
    </div>