{% extends 'base.html' %}
{% block xpto %}


<form action="{% url form_action %}" method="post">
	{% csrf_token %}

	{% if departamento.id %}<input type="hidden" name="_departamento_id" id="departamento.id" value={{departamento.id}} />{% endif %}
	
	<div>
		<label for="sigla">Sigla:</label>
		<input type="text" name="sigla" id="sigla" {% if departamento.sigla %}value="{{departamento.sigla}}"{% endif %}/>
	</div>
	<div>
		<label for="descricao">Descricao:</label>
		<input type="text" name="descricao" id="descricao" {% if departamento.descricao %}value="{{departamento.descricao}}"{% endif %} />
	</div>
	<div>
		<input type="submit" value="Gravar">
	</div>
</form>

{% endblock %}