{% extends 'layout/app.html' %}
{% block xpto %}

<div class="row justify-content-md-center">
	<div class="col-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-6"><h4 class="card-title">Entradas</h4></div>
					<div class="col-6" style="text-align:right"><a href="{% url 'operacao-financeira-entrada.create' %}" type="button" class="btn btn-success">Novo</a></div>
				</div>
				{% if returnedObjectsList %}
						<div class="table-responsive">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>#Id</th>
										<th>valor</th>
										<th>Descrição</th>
										<th>Classificação</th>
										<th>Tipo</th>
										<th>Data Previsao</th>
										<th>Data Recebimento</th>
										<th>Situação</th>
									</tr>
								</thead>
								<tbody>
								{% for object in returnedObjectsList %}
									<tr style="cursor:pointer" onclick="window.location='{% url 'operacao-financeira-entrada.show' object.id %}'">
										<td>{{ object.id }}</td>
										<td>{{ object.valor }}</td>
										<td>{{ object.descricao }}</td>
										<td>{{ object.classificao_operacao }}</td>
										<td>{{ object.tipo_operacao }}</td>
										<td>{{ object.data_previsao }}</td>
										<td>{{ object.data_recebimento }}</td>
										<td>{{ object.situacao }}</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
				{% else %}
					<p>Não há pessoas cadastradas.</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}